.searchform {
  width: 600px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
}

.searchInput {
  font-size: 18px;
  flex-grow: 1;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #303030;
}

.searchBtn {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
}
